<html>
<head>
	<title>API Consumer Data</title>
	<link href="/css/w3.css" rel="stylesheet" type="text/css">
	<script type="text/javascript">

		var dropDownIsLoadedClass = "api-loaded";
		var defaultOption = "Select API from the list";

		function loadAPIS(){
			var apisDropDownList = document.getElementById("API");
			var xhr = new XMLHttpRequest();
			xhr.open('GET', 'apis/');

			//if drop down is already loaded, whats the point? No reload!!
			//if(elementHasClass(apisDropDownList, dropDownIsLoadedClass)){
			//	return;
			//}

			xhr.onload = function() {
				if (xhr.status === 200) {
				
					var apis = JSON.parse(xhr.responseText);

					if(apis && apis.apiArray && apis.apiArray.length > 0){

						//apisDropDownList.options.length = 0;
						
						for(index in apis.apiArray) {
							apisDropDownList.options[apisDropDownList.options.length] = new Option(apis.apiArray[index], apis.apiArray[index]);
						}												
					}
				}
				else {
					alert("error loading lists of apis: " + xhr.status);
				}
			};
			xhr.send();		
		}

		function elementHasClass(element, className) {
			return (' ' + element.className + ' ').indexOf(' ' + className+ ' ') > -1;
		}
		
		function onReady(){		
			if (document.readyState!='loading') loadAPIS();
			// modern browsers
			else if (document.addEventListener) document.addEventListener('DOMContentLoaded', loadAPIS);
			// IE <= 8
			else document.attachEvent('onreadystatechange', function(){
				if (document.readyState=='complete') loadAPIS();
			});		
		}
		
		onReady();

	</script>
</head>
<body>
 	<div class="w3-display-middle w3-card-4">
	    <div class="w3-container">
	        <div class="w3-panel w3-red">
	            <h1>Download all API Consumer Data</h1>
	        </div>
	        <div class="w3-panel">
	            <form class="w3-container" action="/consumerData" method="POST">
	                <button class="w3-input w3-button w3-dark-grey">Download All</button>
	            </form>
	        </div>
	    </div>
	    <div class="w3-container">
	        <div class="w3-panel w3-red">
	            <h1>Search For Specfic API</h1>
	        </div>
	        <div class="w3-panel" id="formWrapper">
	            <form class="w3-container" action="/consumerData" method="POST">
	                <label for="API" class="w3-label">API Name</label>
	                <select class="w3-input w3-border" name="API" id="API">
			 <option value="">Select API from the list</option>
	                </select>
	                <button class="w3-input w3-button w3-dark-grey">Download</button>
	            </form>
	        </div>
	    </div>
	    <div class="w3-panel w3-container"><a href="/logout"><input type="submit" class="w3-button w3-dark-grey" value="Logout"></a></div>
	</div> 
     
</body>
</html>