<html>
<title>API Consumer Data</title>
<link href="/css/w3.css" rel="stylesheet" type="text/css">
<body >
   <div class="w3-display-middle w3-card-4">
      <div class="w3-container">
   	    	<div class="w3-panel w3-red">
   	        	<h1>Third Party Authentication Form </h1>    
	   	 	</div>
	   </div>
	   <% if(login == false){ %>
         	<p class="w3-container w3-text-red">Invalid username or password provided. Please try again</p>
	   <% } %>
	    <div>
		    <form class="w3-container" action="/login" method="POST">
	            <label  class="w3-label">User Name</label><br>
	            <input class="w3-input w3-border" name="UserName" placeholder="Enter IBM Id or Email" type="text"><br>
	            <label  class="w3-label" >Password</label><br>
	            <input class="w3-input w3-border"  name="Password" placeholder="Password" type="password"><br>
	            <button class="w3-button w3-dark-grey">Login</button>
	        </form>
	    </div>
	</div>
</body>
</html>

